body.signIn-body{
	background-color: #e6f2ff;

}
	

.container.signIn-cont{
	margin-top: 7%;
	text-align: center;
}

.card.signIncard{
	padding: 20px 0px 20px;
	background-color: #f4f4f4;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5) ;
	margin-bottom: 10px;
	
}

.signImage{
padding: 0 2rem 2rem;
max-width: 50%;
margin: auto;
display: block;
}

.inputField{
width: 80%;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
}

.signButton{
background-color: #007bff;
color: white;
border-color: #007bff;
border-radius: 3px;
/*padding:7px;*/
width: 70%;
}


.signCheckBox{
margin-top: 10px;
margin-bottom: 10px;
}

.underLink{
	font-size: 1.2rem
}


@media screen and (max-width: 1100px){
	.container.signIn-cont{
	margin-top: 20%;
}


@media screen and (max-width: 740px){
	.container.signIn-cont{
	margin-top: 20%;
	
}
	.signImage{
	max-width: 70%;
	}
	}
@media screen and (max-width: 600px){

	.container.signIn-cont{
	margin-top: 10%;
	
}

}